:root {
	--primary-brand-color: #454b63;
	--secondary-brand-color: #f3b791;
	--color-white-warm: #fcf7f4;
	--color-white-cool: #f3f4f6;
	--color-gray-light: #cbcbcb;
	--color-gray-dark: #858585;

	--box-shadow-light: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
}
