.products {
	height: max-content;
	display: grid;
	grid-template-rows: 12rem 1fr;
	margin-top: 5rem;

	&__search-container {
		padding: 3rem 6rem 3rem 6rem;
		background-color: var(--color-white-warm);
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;
		box-shadow: var(--box-shadow-light);
		z-index: 30;
		@include respond("tab-port") {
			padding: 2rem 3rem 2rem 3rem;
		}
		@include respond("phone") {
			flex-direction: column;
			gap: 0.5rem;
		}
	}
	&__search-input-box {
		display: flex;
		gap: 2rem;
		@include respond("phone") {
			gap: 1rem;
			align-items: center;

			.btn--primary {
				font-size: 1.2rem;
				padding: 1rem 1.2rem;
			}
		}
	}
	&__heading {
		font-size: 3rem;
		color: var(--primary-brand-color);
		@include respond("phone") {
			font-size: 2.5rem;
		}
	}
	&__search-input {
		font-size: 1.5rem;
		width: 30rem;
		padding: 1rem 1.5rem;
		border-radius: 20px;
		border: none;
		box-shadow: var(--box-shadow-light);

		@include respond("tab-port") {
			width: 15rem;
		}

		&:focus {
			outline: 2px solid var(--primary-brand-color);
			outline-offset: 5px;
		}
		&::placeholder {
			font-size: 1.2rem;
			font-style: italic;
			letter-spacing: 0.5px;

			@include respond("phone") {
				font-size: 1rem;
			}
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(20rem, 25rem));
		align-items: center;
		justify-content: center;
		justify-items: center;
		padding: 5rem 7rem;
		row-gap: 4rem;
		column-gap: 4rem;
	}

	&__item {
		@include flex-center-col;
		background-color: var(--color-white-cool);
		border-radius: 10px;
		overflow: hidden;
		padding: 1rem 1.5rem;
		box-shadow: var(--box-shadow-light);
		transition: transform 0.3s;

		&:hover {
			transform: scale(1.05);
		}

		.cart__qty-container {
			gap: 0.5rem;
		}
		.cart__qty-num {
			font-size: 1.3rem;
		}
		.btn--primary-2 {
			padding: 0rem;
			width: 3rem;
			height: 3rem;
			border-radius: 50%;
			border: 2px solid var(--secondary-brand-color);
			color: var(--secondary-brand-color);
			@include flex-center;
			box-shadow: none;

			&:hover {
				background-color: var(--secondary-brand-color);
				color: var(--color-white-cool);
			}
		}
	}
	&__item-img {
		height: 20rem;
		width: 20rem;
		border-radius: 10px;
	}
	&__item-container {
		@include flex-center-col;
		gap: 2rem;
	}
	&__item-title-box {
		font-size: 1.4rem;
		width: 17rem;
		height: 10rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		margin-top: 2rem;
		text-align: center;
	}
	&__item-details-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 20rem;
		padding: 0 1rem;
	}
	&__item-price {
		font-size: 1.8rem;
	}

	&__paginate-btns {
		@include flex-center;
		gap: 2rem;
		margin-bottom: 4rem;
	}
	&__paginate-btn {
		@include flex-center;
		font-family: inherit;
		padding: 1rem;
		width: 4rem;
		height: 4rem;
		border: 2px solid var(--primary-brand-color);
		background-color: inherit;
		color: var(--primary-brand-color);
		cursor: pointer;
		border-radius: 50%;
		transition: all 0.2s;

		&:hover {
			background-color: var(--primary-brand-color);
			color: var(--color-white-cool);
		}
	}

	&__modal {
		max-width: 80rem;
		display: flex;
		justify-content: center;
		gap: 5rem;
		align-items: center;
		background-color: #f1f1f1;
		padding: 3.5rem 5rem;
		border-radius: 20px;
		overflow: hidden;
		position: relative;

		@include respond("tab-port") {
			flex-direction: column;
			width: 90%;
		}

		&-box {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: block;
			height: 100dvh;
			width: 100dvw;
			z-index: 100;
			backdrop-filter: blur(2px);
			filter: drop-shadow(0 1rem 1rem rgba(#000, 0.5));
			@include flex-center;
		}

		&-close {
			position: absolute;
			width: 2.5rem;
			height: 2.5rem;
			right: 15px;
			top: 15px;
			border: none;
			background: transparent;
			cursor: pointer;
			border-radius: 50%;

			&:hover {
				outline: 2px solid var(--primary-brand-color);
			}
		}
		&-img {
			height: 23rem;
			aspect-ratio: 1 / 1;
			border-radius: 30px;
		}
		&-details-container {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
			height: 80%;

			@include respond("tab-port") {
				align-items: center;
			}
		}
		&-title {
			font-size: 2rem;
		}
		&-description {
			font-size: 1.5rem;
		}
		&-category {
			font-size: 1.5rem;
		}
		&-price {
			font-size: 1.7rem;
		}
		.cart__qty-container {
			justify-content: flex-start;
			gap: 0.5rem;
		}
		.cart__qty-num {
			font-size: 1.3rem;
		}
		.btn--primary-2 {
			padding: 0rem;
			width: 3rem;
			height: 3rem;
			border-radius: 50%;
			border: 2px solid var(--secondary-brand-color);
			color: var(--secondary-brand-color);
			@include flex-center;
			box-shadow: none;

			&:hover {
				background-color: var(--secondary-brand-color);
				color: var(--color-white-cool);
			}
		}
		&-actions {
		}
	}

	&__active-page {
		background-color: var(--primary-brand-color);
		color: var(--color-white-cool);
		filter: drop-shadow(0 1rem 1rem rgba(#454b63, 0.7));
	}
}
